# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build output
client/build/
server/dist/

# Logs
*.log
logs/

# dotenv environment variables
*.env

# OS
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# npm lock file (optional to ignore)
package-lock.json
